@charset "utf-8";

@font-face {
	font-family: 'icomoon';
	src: url('https://dunelmtemplates.github.io/icons/thin-arrow.eot?s34bh');
	src: url('https://dunelmtemplates.github.io/icons/thin-arrow.eot?s34bh#iefix') format('embedded-opentype'),  url('https://dunelmtemplates.github.io/icons/thin-arrow.ttf?s34bh') format('truetype'),  url('https://dunelmtemplates.github.io/icons/thin-arrow.woff?s34bh') format('woff'),  url('https://dunelmtemplates.github.io/icons/thin-arrow.svg?s34bh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-thin-arrow:before {
	content: "\e900";
}
.checkbox--custom .checkbox_render::after, .espot__link-list a::after, .l-checkout-basket__extras--toggle::after, .l-checkout-basket__item__remove::after, .l-search-results__result__carousel .slick-next::before, .l-search-results__result__carousel .slick-prev::before, .menu-lhs__item a::after, .menu-lhs__open::after, .menu-myaccount__item a::after, .menu-myaccount__open::after, .parsley-error-list li::before, .pdp .slick-next::before, .pdp .slick-prev::before, .radio--custom .radio--custom__render::after, [data-icon]::before {
	content: attr(data-icon);
	font-family: "icomoon";
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
}